@charset "UTF-8";
/* порядок размещения 
    abstracts/
    vendors/
    base/
    layout/
    components/
    pages/
    themes/
*/
/*

1em = 16px
*/
/*
    1.colors
    2.fonts
*/
/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic");
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-inline {
    display: inline !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-table {
    display: table !important; }
  .d-sm-table-row {
    display: table-row !important; }
  .d-sm-table-cell {
    display: table-cell !important; }
  .d-sm-flex {
    display: flex !important; }
  .d-sm-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }
  .d-md-inline {
    display: inline !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-table {
    display: table !important; }
  .d-md-table-row {
    display: table-row !important; }
  .d-md-table-cell {
    display: table-cell !important; }
  .d-md-flex {
    display: flex !important; }
  .d-md-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-table-row {
    display: table-row !important; }
  .d-lg-table-cell {
    display: table-cell !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-inline {
    display: inline !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-table {
    display: table !important; }
  .d-xl-table-row {
    display: table-row !important; }
  .d-xl-table-cell {
    display: table-cell !important; }
  .d-xl-flex {
    display: flex !important; }
  .d-xl-inline-flex {
    display: inline-flex !important; } }

@media print {
  .d-print-none {
    display: none !important; }
  .d-print-inline {
    display: inline !important; }
  .d-print-inline-block {
    display: inline-block !important; }
  .d-print-block {
    display: block !important; }
  .d-print-table {
    display: table !important; }
  .d-print-table-row {
    display: table-row !important; }
  .d-print-table-cell {
    display: table-cell !important; }
  .d-print-flex {
    display: flex !important; }
  .d-print-inline-flex {
    display: inline-flex !important; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-grow-0 {
  flex-grow: 0 !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.flex-shrink-0 {
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  flex-shrink: 1 !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important; }
  .flex-sm-column {
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-sm-start {
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    justify-content: center !important; }
  .justify-content-sm-between {
    justify-content: space-between !important; }
  .justify-content-sm-around {
    justify-content: space-around !important; }
  .align-items-sm-start {
    align-items: flex-start !important; }
  .align-items-sm-end {
    align-items: flex-end !important; }
  .align-items-sm-center {
    align-items: center !important; }
  .align-items-sm-baseline {
    align-items: baseline !important; }
  .align-items-sm-stretch {
    align-items: stretch !important; }
  .align-content-sm-start {
    align-content: flex-start !important; }
  .align-content-sm-end {
    align-content: flex-end !important; }
  .align-content-sm-center {
    align-content: center !important; }
  .align-content-sm-between {
    align-content: space-between !important; }
  .align-content-sm-around {
    align-content: space-around !important; }
  .align-content-sm-stretch {
    align-content: stretch !important; }
  .align-self-sm-auto {
    align-self: auto !important; }
  .align-self-sm-start {
    align-self: flex-start !important; }
  .align-self-sm-end {
    align-self: flex-end !important; }
  .align-self-sm-center {
    align-self: center !important; }
  .align-self-sm-baseline {
    align-self: baseline !important; }
  .align-self-sm-stretch {
    align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    flex-grow: 0 !important; }
  .flex-md-grow-1 {
    flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-md-start {
    justify-content: flex-start !important; }
  .justify-content-md-end {
    justify-content: flex-end !important; }
  .justify-content-md-center {
    justify-content: center !important; }
  .justify-content-md-between {
    justify-content: space-between !important; }
  .justify-content-md-around {
    justify-content: space-around !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-end {
    align-items: flex-end !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-items-md-baseline {
    align-items: baseline !important; }
  .align-items-md-stretch {
    align-items: stretch !important; }
  .align-content-md-start {
    align-content: flex-start !important; }
  .align-content-md-end {
    align-content: flex-end !important; }
  .align-content-md-center {
    align-content: center !important; }
  .align-content-md-between {
    align-content: space-between !important; }
  .align-content-md-around {
    align-content: space-around !important; }
  .align-content-md-stretch {
    align-content: stretch !important; }
  .align-self-md-auto {
    align-self: auto !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .align-self-md-end {
    align-self: flex-end !important; }
  .align-self-md-center {
    align-self: center !important; }
  .align-self-md-baseline {
    align-self: baseline !important; }
  .align-self-md-stretch {
    align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .flex-lg-column {
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-lg-start {
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    justify-content: center !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-end {
    align-items: flex-end !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .align-items-lg-baseline {
    align-items: baseline !important; }
  .align-items-lg-stretch {
    align-items: stretch !important; }
  .align-content-lg-start {
    align-content: flex-start !important; }
  .align-content-lg-end {
    align-content: flex-end !important; }
  .align-content-lg-center {
    align-content: center !important; }
  .align-content-lg-between {
    align-content: space-between !important; }
  .align-content-lg-around {
    align-content: space-around !important; }
  .align-content-lg-stretch {
    align-content: stretch !important; }
  .align-self-lg-auto {
    align-self: auto !important; }
  .align-self-lg-start {
    align-self: flex-start !important; }
  .align-self-lg-end {
    align-self: flex-end !important; }
  .align-self-lg-center {
    align-self: center !important; }
  .align-self-lg-baseline {
    align-self: baseline !important; }
  .align-self-lg-stretch {
    align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important; }
  .flex-xl-column {
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-xl-start {
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    justify-content: center !important; }
  .justify-content-xl-between {
    justify-content: space-between !important; }
  .justify-content-xl-around {
    justify-content: space-around !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .align-items-xl-end {
    align-items: flex-end !important; }
  .align-items-xl-center {
    align-items: center !important; }
  .align-items-xl-baseline {
    align-items: baseline !important; }
  .align-items-xl-stretch {
    align-items: stretch !important; }
  .align-content-xl-start {
    align-content: flex-start !important; }
  .align-content-xl-end {
    align-content: flex-end !important; }
  .align-content-xl-center {
    align-content: center !important; }
  .align-content-xl-between {
    align-content: space-between !important; }
  .align-content-xl-around {
    align-content: space-around !important; }
  .align-content-xl-stretch {
    align-content: stretch !important; }
  .align-self-xl-auto {
    align-self: auto !important; }
  .align-self-xl-start {
    align-self: flex-start !important; }
  .align-self-xl-end {
    align-self: flex-end !important; }
  .align-self-xl-center {
    align-self: center !important; }
  .align-self-xl-baseline {
    align-self: baseline !important; }
  .align-self-xl-stretch {
    align-self: stretch !important; } }

.row {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none; }

.content-box {
  min-width: 32rem;
  max-width: 144rem;
  width: 100%;
  transition: margin .15s linear; }
  @media only screen and (min-width: 62em) {
    .content-box {
      transition: margin 0s; } }

.js-content-box-left {
  margin-left: 24rem; }

main {
  font-size: 1.6rem;
  background-color: #f2f2f2;
  padding-top: 2rem; }
  @media only screen and (min-width: 30em) and (max-width: 62em) {
    main {
      padding: 2rem 2rem 0; } }
  @media only screen and (min-width: 62em) {
    main {
      display: flex;
      padding: 0; } }

@media only screen and (min-width: 62em) {
  .fixed-header .sidebar {
    position: fixed;
    top: 5.6rem; } }

@media only screen and (min-width: 62em) {
  .fixed-header .cards {
    margin-left: 24rem; } }

@media only screen and (min-width: 62em) {
  .fixed-header {
    padding-top: 56px; } }

body {
  font-family: "PT Sans", Arial, sans-serif; }

.logo-box:link,
.logo-box:visited {
  color: #04A3A3; }

.logo-box__name {
  font-family: "Lobster", cursive;
  font-size: 2.7rem; }

.header-category {
  font-weight: 400;
  font-size: 1.9rem;
  color: #717171;
  display: none; }
  @media only screen and (min-width: 62em) {
    .header-category {
      display: block;
      padding-left: 3rem; } }

.dark-header {
  background-color: #717171;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 24rem;
  position: fixed;
  top: 0;
  left: -24rem;
  height: 100vh;
  border-right: 1px solid #fff;
  transition: left .15s linear; }
  @media only screen and (min-width: 62em) {
    .dark-header {
      flex-direction: row;
      width: 100%;
      height: 3.4rem;
      position: static;
      padding: 0 1.4rem;
      border-right: none; } }
  .dark-header__text {
    font-size: 1.4rem;
    line-height: 3.4rem;
    color: #ddd;
    display: none; }
    @media only screen and (min-width: 62em) {
      .dark-header__text {
        display: block; } }
  .dark-header--active {
    left: 0; }
  @media only screen and (min-width: 62em) {
    .dark-header__dropdown {
      position: relative;
      z-index: 2;
      margin-left: .3rem; }
      .dark-header__dropdown:last-child {
        width: 10rem;
        margin-left: auto; } }
  .dark-header__dropdown span {
    line-height: 5.6rem;
    text-transform: uppercase;
    padding-left: 4.5rem;
    cursor: pointer;
    display: block;
    position: relative; }
    @media only screen and (min-width: 62em) {
      .dark-header__dropdown span {
        text-transform: initial;
        padding-left: 0;
        display: inline;
        font-size: 1.4rem;
        line-height: 3.4rem;
        z-index: 3; } }
    .dark-header__dropdown span:hover {
      color: #fa9a10; }
    @media only screen and (min-width: 62em) {
      .dark-header__dropdown span:hover::after {
        background-position: 0 -8px; } }
    .dark-header__dropdown span::before {
      content: '';
      position: absolute;
      width: 1.3rem;
      height: 1.9rem;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5rem; }
      @media only screen and (min-width: 62em) {
        .dark-header__dropdown span::before {
          content: none; } }
    .dark-header__dropdown span::after {
      content: '';
      position: absolute;
      width: 1.4rem;
      height: .8rem;
      top: 43%;
      transform: rotate(360deg);
      transition: transform .15s linear;
      right: 2rem;
      background: url("../../assets/img/icons.png") -227px -74px no-repeat; }
      @media only screen and (min-width: 62em) {
        .dark-header__dropdown span::after {
          background: url(../../assets/img/icons.png) no-repeat;
          width: .7rem;
          height: .4rem;
          top: 55%;
          right: -1.2rem;
          transform: none; } }
  @media only screen and (min-width: 62em) {
    .dark-header__current-city {
      width: 14rem;
      z-index: 2; } }
  .dark-header__current-city span {
    border-bottom: 1px solid #8D8B8C; }
    @media only screen and (min-width: 62em) {
      .dark-header__current-city span {
        border-bottom: 1px dashed;
        margin-left: .5rem; } }
    .dark-header__current-city span::before {
      background: url("../../assets/img/icons.png") -28px -75px no-repeat; }
  .dark-header__current-city ul li:last-child a {
    color: #6ffe7e;
    border-bottom: 1px solid; }
  .dark-header__current-city ul li:last-child a:hover {
    color: #fa9a10; }
  @media only screen and (min-width: 62em) {
    .dark-header__account {
      width: 11.4rem;
      z-index: 2; } }
  .dark-header__account span {
    border-bottom: 1px solid #8D8B8C; }
    @media only screen and (min-width: 62em) {
      .dark-header__account span {
        border-bottom: 1px dashed;
        margin-left: 1rem; } }
    .dark-header__account span::before {
      background: url("../../assets/img/white-man.png") 0 1px no-repeat;
      width: 2rem; }
  @media only screen and (min-width: 62em) {
    .dark-header__account ul {
      width: 11.4rem; } }
  .dark-header__dropdown-items {
    background-color: #656565;
    padding: 1rem 1rem 1rem 4.5rem;
    list-style: none;
    font-size: 1.4rem;
    border-bottom: 1px solid #8D8B8C;
    display: none; }
    .dark-header__dropdown-items li {
      padding: .6rem .8rem; }
    .dark-header__dropdown-items a:link,
    .dark-header__dropdown-items a:visited {
      color: #fff;
      border-bottom: 1px dashed; }
    .dark-header__dropdown-items a:hover,
    .dark-header__dropdown-items a:focus {
      color: #fa9a10; }
    @media only screen and (min-width: 62em) {
      .dark-header__dropdown-items {
        position: absolute;
        width: 14rem;
        z-index: 1;
        padding: 3.4rem 0 0 0;
        border-bottom: none;
        background: transparent;
        top: 0;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
        .dark-header__dropdown-items a:link,
        .dark-header__dropdown-items a:visited {
          color: #717171; }
        .dark-header__dropdown-items a:hover {
          color: #fa9a10; }
        .dark-header__dropdown-items li {
          background-color: #fff;
          padding: .3rem 0 .3rem 1rem; }
          .dark-header__dropdown-items li:last-child {
            padding-bottom: .8rem; } }
  @media only screen and (min-width: 62em) {
    .dark-header .active-dropdown {
      background-color: #f8f8f8; } }
  .dark-header .active-dropdown span {
    color: #fa9a10; }
    .dark-header .active-dropdown span::after {
      transform: rotate(180deg); }
      @media only screen and (min-width: 62em) {
        .dark-header .active-dropdown span::after {
          transform: rotate(0);
          background-position: 0 -8px; } }
  .dark-header .active-dropdown ul {
    display: block; }

.header {
  font-size: 1.6rem; }
  .header > * {
    padding: 0;
    height: 5.6rem; }
  .header__first-line {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 .7rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10; }
    @media only screen and (min-width: 48em) {
      .header__first-line {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); } }
    @media only screen and (min-width: 62em) {
      .header__first-line {
        background-color: #fff;
        max-width: 25rem;
        padding-left: 1.4rem;
        box-shadow: none;
        z-index: 1;
        border-color: #ddd;
        position: static; } }
  .header__burger {
    min-width: 5.6rem;
    height: 5.6rem;
    cursor: pointer;
    position: relative; }
    @media only screen and (min-width: 62em) {
      .header__burger {
        display: none; } }
    .header__burger::after {
      content: '';
      position: absolute;
      background: url("../../assets/img/icons.png") -62px -76px no-repeat;
      width: 1.7rem;
      height: 1.4rem;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .header__logo {
    height: 100%;
    padding-top: 1.2rem; }
  .header .logo-box {
    display: flex; }
    .header .logo-box__img {
      width: 3.2rem;
      height: 3.2rem; }
    .header .logo-box__name {
      margin-left: .5rem; }
  .header .search-form-box {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (min-width: 30em) {
      .header .search-form-box {
        max-width: 24rem; } }
    @media only screen and (min-width: 62em) {
      .header .search-form-box {
        display: none; } }
    .header .search-form-box .search-form {
      width: 100%;
      justify-content: flex-end; }
      .header .search-form-box .search-form__input {
        width: 70%;
        display: none; }
      .header .search-form-box .search-form__btn {
        border-color: transparent; }
  .header .js-search-form--active .header__burger {
    display: none; }
    @media only screen and (min-width: 30em) {
      .header .js-search-form--active .header__burger {
        display: block; } }
  .header .js-search-form--active .header__logo {
    display: none; }
    @media only screen and (min-width: 30em) {
      .header .js-search-form--active .header__logo {
        display: block; } }
  .header .js-search-form--active .search-form-box {
    width: 100%; }
    .header .js-search-form--active .search-form-box .search-form__input {
      width: 100%;
      display: block; }
      @media only screen and (min-width: 30em) {
        .header .js-search-form--active .search-form-box .search-form__input {
          width: 70%; } }
      .header .js-search-form--active .search-form-box .search-form__input:focus + .search-form__btn {
        outline: none;
        border-color: #65b91b;
        border-left: transparent; }
    .header .js-search-form--active .search-form-box .search-form__btn {
      border: 1px solid #e8e8e8; }
  .header__support {
    display: flex;
    margin-top: 5.6rem; }
    @media only screen and (min-width: 48em) {
      .header__support {
        border-bottom: 1px solid #e8e8e8; } }
    @media only screen and (min-width: 62em) {
      .header__support {
        border-color: #ddd;
        margin-top: initial; } }
    .header__support .support {
      flex: 1;
      position: relative;
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__support .support__item {
        position: relative;
        color: inherit;
        padding-left: 2rem; }
        .header__support .support__item::before {
          background: url("../../assets/img/white-phone.svg") no-repeat;
          position: absolute;
          content: '';
          width: 2.3rem;
          height: 2.3rem;
          left: -0.9rem;
          top: 0; }
          @media only screen and (min-width: 48em) {
            .header__support .support__item::before {
              background: url("../../assets/img/grey-phone.svg") no-repeat; } }
        .header__support .support__item--1:hover {
          color: #fa9a10; }
        .header__support .support__item--2 {
          cursor: pointer; }
          .header__support .support__item--2::before {
            background: url("../../assets/img/white-chat.svg") no-repeat; }
          .header__support .support__item--2 span {
            border-bottom: 1px dashed; }
      .header__support .support:first-child {
        background-color: #8D8B8C; }
        @media only screen and (min-width: 48em) {
          .header__support .support:first-child {
            background-color: #fff;
            color: #8D8B8C; } }
        .header__support .support:first-child::before {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 2.8rem 0 2.8rem 1.2rem;
          border-color: transparent transparent transparent #8D8B8C;
          width: 0;
          height: 0;
          right: -1.2rem;
          z-index: 1; }
          @media only screen and (min-width: 48em) {
            .header__support .support:first-child::before {
              border-color: transparent transparent transparent #fff; } }
      .header__support .support:last-child {
        background-color: #fa9a10; }
        @media only screen and (min-width: 62em) {
          .header__support .support:last-child::before {
            content: ' ';
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: -1rem;
            right: -1rem;
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
            background-color: #a16003;
            display: none; } }
  @media only screen and (min-width: 62em) and (min-width: 90em) {
    .header__support .support:last-child::before {
      display: block; } }
        @media only screen and (min-width: 62em) {
          .header__support .support:last-child::after {
            content: ' ';
            position: absolute;
            width: 1rem;
            height: 5.5rem;
            right: -1rem;
            clip-path: inset(0 0 0 0);
            background-color: #fa9a10;
            display: none; } }
  @media only screen and (min-width: 62em) and (min-width: 90em) {
    .header__support .support:last-child::after {
      display: block; } }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8; }
    @media only screen and (min-width: 36em) {
      .header__menu {
        justify-content: flex-start;
        padding-left: 6rem; } }
    @media only screen and (min-width: 48em) {
      .header__menu {
        margin-top: 5.6rem; } }
    @media only screen and (min-width: 62em) {
      .header__menu {
        padding-left: 0;
        border-color: #ddd;
        margin-top: 0; } }
    .header__menu .menu {
      flex: 0 0 auto; }
      .header__menu .menu__item {
        display: inline-block;
        color: #717171;
        font-size: 1.5rem;
        text-transform: uppercase;
        position: relative; }
        .header__menu .menu__item:not(:last-child) {
          margin-right: 2rem; }
          @media only screen and (min-width: 48em) {
            .header__menu .menu__item:not(:last-child) {
              margin-right: 1rem; } }
        .header__menu .menu__item--active {
          color: #fa9a10; }
        .header__menu .menu__item--active::before {
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: #fa9a10;
          bottom: 1px;
          left: 0; }
        .header__menu .menu__item a {
          line-height: 5.7rem;
          transition: color .3s ease-in-out;
          color: inherit; }
          .header__menu .menu__item a:hover {
            color: #fa9a10; }
          .header__menu .menu__item a:active {
            color: #fa9a10; }
          .header__menu .menu__item a .week-dish {
            color: #bbb;
            border: 1px solid #ddd;
            font-size: 1.2rem;
            border-radius: 1rem;
            padding: .2rem .5rem;
            margin-left: 1rem; }
    .header__menu .search-form-box-2 {
      flex: 1 1 auto;
      display: none; }
      @media only screen and (min-width: 62em) {
        .header__menu .search-form-box-2 {
          display: block; } }
      .header__menu .search-form-box-2 .search-form {
        justify-content: center;
        padding-left: 11%; }
        .header__menu .search-form-box-2 .search-form__input {
          width: 70%;
          max-width: 25.5rem; }
        .header__menu .search-form-box-2 .search-form__btn {
          background-color: #f9f9f9; }

@media only screen and (min-width: 62em) {
  .sticky-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 144rem; }
    .sticky-header .header__menu {
      background-color: #fff; } }

@media only screen and (min-width: 62em) {
  .sidebar {
    width: 24rem;
    height: 100vh;
    background-color: #fff;
    flex: 0 0 auto; }
    .sidebar--fixed {
      top: 5.6rem; } }

.cards {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 2rem; }

.cards-wraper {
  margin: 0 auto; }
  @media only screen and (min-width: 30em) {
    .cards-wraper {
      padding: 0 2rem; } }
  @media only screen and (min-width: 75em) {
    .cards-wraper {
      padding: 1.5rem 1.5rem 0; } }

.dish-wrap {
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 30em) {
    .dish-wrap {
      padding: 2.5rem; } }
  @media only screen and (min-width: 75em) {
    .dish-wrap {
      padding: 1.5rem; } }

.search-form {
  display: flex; }
  .search-form__input {
    height: 4rem;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    font-size: 1.5rem;
    padding-left: 1rem;
    transition: border .45s, background .45s ease-in-out; }
    .search-form__input:focus {
      outline: none;
      border-color: #65b91b;
      background: #f9f9f9; }
    .search-form__input:focus + .search-form__btn {
      outline: none;
      border-color: #65b91b;
      border-left: transparent; }
  .search-form__btn {
    height: 4rem;
    min-width: 4rem;
    border: 1px solid #e8e8e8;
    border-radius: 0 20px 20px 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: border .45s; }
    .search-form__btn:focus {
      outline: none; }
    .search-form__btn::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 47%;
      left: 48%;
      width: 1.6rem;
      height: 2rem;
      background: url("../../assets/img/icons.png") -79px -72px no-repeat; }

.rest-box {
  width: 30rem;
  font-size: 1.5rem;
  background-color: #f8f8f8;
  color: #717171;
  line-height: 3.3rem;
  margin: 0 auto; }
  @media only screen and (min-width: 36em) and (max-width: 62em) {
    .rest-box {
      width: 100%;
      height: 13.2rem;
      display: flex;
      background-color: #fff; } }
  @media only screen and (min-width: 62em) {
    .rest-box {
      width: 100%; } }
  @media only screen and (min-width: 36em) and (max-width: 62em) {
    .rest-box__left {
      display: flex; } }
  .rest-box__rating {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem; }
    @media only screen and (min-width: 36em) and (max-width: 62em) {
      .rest-box__rating {
        flex-direction: column;
        justify-content: center;
        order: 2;
        min-width: 9rem;
        margin-left: 0; } }
  .rest-box__img-wrap {
    background-color: #fff;
    line-height: initial; }
    @media only screen and (min-width: 36em) and (max-width: 62em) {
      .rest-box__img-wrap {
        width: 20rem; } }
  .rest-box__img {
    width: 100%; }
  @media only screen and (min-width: 36em) and (max-width: 62em) {
    .rest-box__right {
      width: 100%; } }
  @media only screen and (min-width: 48em) and (max-width: 62em) {
    .rest-box__right {
      display: flex; } }
  .rest-box__info {
    padding: 0 1.5rem;
    display: flex;
    align-items: center; }
    @media only screen and (min-width: 36em) and (max-width: 62em) {
      .rest-box__info {
        line-height: 6.6rem; } }
    @media only screen and (min-width: 48em) and (max-width: 62em) {
      .rest-box__info {
        flex: 1;
        border-left: 1px solid #e8e8e8; } }
    .rest-box__info p {
      padding-left: 2.5rem;
      display: inline-block;
      position: relative; }
      .rest-box__info p::before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: -0.5rem;
        transform: translateY(-50%); }
    .rest-box__info--time {
      border-bottom: 1px solid #f2f2f2; }
      @media only screen and (min-width: 36em) and (max-width: 62em) {
        .rest-box__info--time {
          border-color: #e8e8e8; } }
      @media only screen and (min-width: 48em) {
        .rest-box__info--time {
          border-bottom: none; } }
      .rest-box__info--time p::before {
        background: url("../../assets/img/grey-watch-form.svg") no-repeat; }
    .rest-box__info--delivery p::before {
      background: url("../../assets/img/grey-delivery-form.svg") no-repeat; }

.questionmark {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../assets/img/grey-question.svg") no-repeat;
  cursor: pointer;
  margin-left: auto; }

.dropdown-menu {
  width: 90%;
  margin: 2rem auto 0;
  border: 1px solid #e8e8e8;
  font-size: 1.5rem;
  position: relative; }
  @media only screen and (min-width: 30em) {
    .dropdown-menu {
      width: 100%; } }
  @media only screen and (min-width: 62em) {
    .dropdown-menu {
      margin: 0;
      border: none; } }
  .dropdown-menu__items {
    list-style: none;
    width: 100%;
    border-top: none;
    display: none;
    position: absolute;
    background-color: transparent;
    animation-name: dropdown-menu;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .dropdown-menu__items {
        position: static;
        display: block;
        animation: none; } }
  .dropdown-menu__item {
    background-color: #fff;
    line-height: 4.9rem;
    padding-left: 2rem;
    cursor: pointer; }
    .dropdown-menu__item:not(:last-child) {
      border-bottom: 1px solid #e8e8e8; }
      @media only screen and (min-width: 62em) {
        .dropdown-menu__item:not(:last-child) {
          border-bottom: none; } }
    .dropdown-menu__item:hover a:link, .dropdown-menu__item:hover a:visited {
      color: #fa9a10; }
    @media only screen and (min-width: 62em) {
      .dropdown-menu__item {
        line-height: 3rem; } }
    .dropdown-menu__item--header {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 4.6rem;
      position: relative; }
      .dropdown-menu__item--header .dropdown-menu__link:link, .dropdown-menu__item--header .dropdown-menu__link:visited {
        color: #fa9a10; }
        @media only screen and (min-width: 62em) {
          .dropdown-menu__item--header .dropdown-menu__link:link, .dropdown-menu__item--header .dropdown-menu__link:visited {
            border-bottom: none; } }
      @media only screen and (min-width: 62em) {
        .dropdown-menu__item--header {
          line-height: 3rem; } }
      .dropdown-menu__item--header::after {
        position: absolute;
        content: '';
        width: 2.1rem;
        height: 1rem;
        background: url("../../assets/img/icons.png") -96px -76px no-repeat;
        top: 50%;
        right: 2rem;
        transform: rotate(360deg);
        transition: transform .15s linear; }
        @media only screen and (min-width: 62em) {
          .dropdown-menu__item--header::after {
            display: none; } }
  .dropdown-menu__link:link, .dropdown-menu__link:visited {
    color: #717171;
    border-bottom: 1px dashed; }
  .dropdown-menu__link:active {
    color: #fa9a10; }

.dropdown-menu--active .dropdown-menu__item--header::after {
  transform: rotate(180deg); }

.dropdown-menu--active .dropdown-menu__items {
  display: block;
  z-index: 3; }

@keyframes dropdown-menu {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.dish-card {
  min-width: 30rem;
  border: 1px solid #e8e8e8;
  width: 100%;
  color: #717171;
  background-color: #fff;
  border-radius: 0 0 3rem;
  max-width: 30rem;
  margin: 0 auto; }
  @media only screen and (min-width: 36em) {
    .dish-card {
      max-width: 40rem;
      width: 66%; } }
  @media only screen and (min-width: 48em) {
    .dish-card {
      width: 100%; } }
  @media only screen and (min-width: 62em) {
    .dish-card {
      margin: 0; } }
  @media only screen and (min-width: 75em) {
    .dish-card {
      min-width: 28rem; } }
  .dish-card__img-box {
    position: relative; }
  .dish-card__img {
    width: 100%;
    height: auto;
    position: relative; }
  .dish-card__extra-info {
    position: absolute;
    width: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2.5rem;
    background-color: #fff;
    opacity: .8;
    border: 1px solid #7ed035;
    border-radius: 2rem;
    z-index: 2;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer; }
    .dish-card__extra-info:hover {
      opacity: 1; }
  .dish-card__discount {
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(48, 180, 184, 0.85);
    line-height: 3.5rem;
    padding-left: 2rem;
    width: 100%;
    bottom: 0;
    position: absolute; }
    .dish-card__discount::before {
      content: '';
      width: 1rem;
      height: 3.5rem;
      position: absolute;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
      background-color: rgba(48, 180, 184, 0.85);
      left: -1rem; }
    .dish-card__discount::after {
      content: '';
      width: .5rem;
      height: 3.5rem;
      position: absolute;
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
      background-color: rgba(48, 180, 184, 0.85);
      right: -0.5rem;
      top: 0; }
    .dish-card__discount p {
      position: relative; }
      .dish-card__discount p::after {
        content: '';
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        background-color: #30b4b8;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        right: -0.5rem;
        top: -0.5rem; }
  .dish-card__name {
    font-size: 1.7rem;
    height: 6.5rem;
    padding: 1rem 2rem 0; }
    .dish-card__name span {
      cursor: pointer;
      border-bottom: 1px dashed; }
      .dish-card__name span:hover {
        color: #fa9a10; }
  .dish-card__info {
    color: #8D8B8C;
    font-size: 1.5rem;
    background-color: #f8f8f8;
    height: 5.8rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    border-radius: 0 0 3rem; }
  .dish-card__price {
    color: #65b91b;
    margin-left: 1rem; }
  .dish-card__plus {
    margin-left: auto;
    margin-right: 2px; }

.add-item {
  height: 5.7rem;
  width: 5.7rem;
  border-radius: 50%;
  background-color: #7ed035;
  position: relative;
  cursor: pointer; }
  .add-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.9rem;
    height: 2.8rem;
    background: url("../../assets/img/icons.png") -260px -58px no-repeat; }
  .add-item:hover {
    background-color: #8ae53a; }

/* ---------------------------
    HEADER CHANGES FOR RESTRAUNT PAGE  
   --------------------------- 
*/
.header__logo {
  position: relative; }
  .header__logo::after {
    content: '';
    position: absolute;
    top: 0;
    right: -3rem;
    width: 1.7rem;
    height: 5.6rem;
    background: url("../../assets/img/icons.png") -260px 0 no-repeat; }

.header__restraunt-name {
  color: #0f8c90;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  line-height: 5.6rem;
  text-align: center;
  position: relative; }
  @media only screen and (min-width: 62em) {
    .header__restraunt-name::after {
      content: '';
      position: absolute;
      top: 0;
      right: 2rem;
      width: 1.7rem;
      height: 5.6rem;
      background: url("../../assets/img/icons.png") -260px 0 no-repeat; } }

.header .js-search-form--active {
  position: relative; }
  .header .js-search-form--active .header__restraunt-name {
    display: none; }
    @media only screen and (min-width: 36em) {
      .header .js-search-form--active .header__restraunt-name {
        display: block; } }
  .header .js-search-form--active .header__restraunt-name {
    margin-right: 4rem; }
  @media only screen and (min-width: 36em) {
    .header .js-search-form--active .search-form-box {
      position: absolute;
      right: 0.7rem; } }

.overflow-x--hidden {
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */