//clearfix

@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin flex {
    display: flex;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





// MEDIA QUERY MANAGER
/*

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == 480 {
        @media only screen and (min-width: 30em) { @content };    //480px
    }

    @if $breakpoint == 576 {
        @media only screen and (min-width: 36em) { @content };     //576px
    }

    @if $breakpoint == 768 {
        @media only screen and (min-width: 48em) { @content };     //768px
    }
    
    @if $breakpoint == 992{
        @media only screen and (min-width: 62em) { @content };    //992px
    }

    @if $breakpoint == 1200{
        @media only screen and (min-width: 75em) { @content };    //1200px
    }
    
    @if $breakpoint == 1440 {
        @media only screen and (min-width: 90em) { @content };    //1400
    }
}

// media queries advanced ex. from min-width 1px to max-width 10px

@mixin respond-advanced($from, $to) {
    //480 to 576, 768, 992
    @if $from == 480 and $to == 576 {
        @media only screen and (min-width: 30em) and (max-width: 36em) {  
            @content;
        }
    }

    @if $from == 480 and $to == 768 {
        @media only screen and (min-width: 30em) and (max-width: 48em) {  
            @content;
        }
    }

    @if $from == 480 and $to == 992 {
        @media only screen and (min-width: 30em) and (max-width: 62em) {  
            @content;
        }
    }
    
    //576 to 768, 992

    @if $from == 576 and $to == 768 {
        @media only screen and (min-width: 36em) and (max-width: 48em) { 
            @content;
        }
    }

    @if $from == 576 and $to == 992 {
        @media only screen and (min-width: 36em) and (max-width: 62em) { 
            @content;
        }
    }

    // 768 to 992
    
    @if $from == 768 and $to == 992 {
        @media only screen and (min-width: 48em) and (max-width: 62em) { 
            @content;
        }
    }
}

// 