
/*
    1.colors
    2.fonts
*/

//COLORS

//gray
// $black and $white from bs

$clr-grey-1: #f2f2f2; //content background color #F4F2F3
$clr-grey-2: #f8f8f8; // light grey
$clr-grey-3: #f9f9f9; //first-line bg
$clr-grey-4: #e8e8e8; // first line border
$clr-grey-5: #8D8B8C; //mobile support background 
$clr-grey-6: #717171; // darkpanel color
$clr-grey-7: #525252;// footer bg
$clr-grey-8: #ddd; // 
$clr-grey-9: #bbb;// 
$clr-grey-10: #656565;
$clr-search-border: #999;

//primary colors
$orange: #fa9a10;
$green: #0f8c90;
$clr-green-1: #7ed035;
$clr-green-2: #65b91b;
$clr-green-3: #6ffe7e;
$clr-green-4: #8ae53a; //dropdown cities last chidl
$clr-green-5: #30b4b8;
$green-logo: #04A3A3;

$clr-sales: rgba(48,180,184,.85);
$clr-not-sales: #B1B1B1;

// fonts

$lobster: "Lobster", cursive; 
$default-fs: 1.6rem;



//$clr-orange: #f98e; // primary orange color

