.cards {
    width: 100%;
    background-color: $clr-grey-1;
    padding-top: 2rem;
}

.cards-wraper {   
    margin: 0 auto;
    @include respond(480) {
        padding: 0 2rem;
    }
    @include respond(1200) {
        padding: 1.5rem 1.5rem 0;
    }
    
}

.dish-wrap {
    
    margin-bottom: 2.5rem;

    @include respond(480) {
        padding: 2.5rem;
    }
   
    @include respond(1200) {
        padding: 1.5rem;
    }
    
}