.dark-header {
    background-color: $clr-grey-6;
    color: $white;
    font-size: 1.5rem;
    @include flex-col;
    width: 24rem;
    position: fixed;
    top: 0;
    left: -24rem;
    height: 100vh;
    border-right: 1px solid $white;
    transition: left .15s linear;

    @include respond(992) {
        flex-direction: row;
        width: 100%;
        height: 3.4rem;
        position: static;
        padding: 0 1.4rem;
        border-right: none;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 3.4rem;
        color: $clr-grey-8;
        display: none;

        @include respond(992) {
            display: block;
        }
    }
    
    &--active {
        left: 0;
    }

    &__dropdown {
        @include respond(992) {
            position: relative;
            z-index: 2;
            margin-left: .3rem;
            &:last-child {
                width: 10rem;
                margin-left: auto;
            }
        }
        
        span {
            line-height: 5.6rem; 
            text-transform: uppercase;
            padding-left: 4.5rem;
            cursor: pointer;
            display: block;
            position: relative;

            @include respond(992) {         ///width min 992
                text-transform: initial;
                padding-left: 0;
                display: inline;
                font-size: 1.4rem;
                line-height: 3.4rem;
                z-index: 3;
                
            }
            

            &:hover {
                color: $orange;
            }

            @include respond(992) {
                &:hover::after {
                    background-position: 0 -8px;
                }
            }
            
            &::before {
                content:'';
                position: absolute;
                width: 1.3rem;
                height: 1.9rem;
                top: 50%;
                transform: translateY(-50%);
                left: 1.5rem;
                
                @include respond(992) {         ///width min 992
                    content: none;
                }
                
            }

            &::after {
                content:'';
                position: absolute;
                width: 1.4rem;
                height: .8rem;
                top: 43%;
                transform: rotate(360deg);
                transition: transform .15s linear;
                right: 2rem;
                background: url("../../assets/img/icons.png") -227px -74px no-repeat;

                @include respond(992) {
                    background: url(../../assets/img/icons.png) no-repeat;
                    width: .7rem;
                    height: .4rem;
                    top: 55%;
                    right: -1.2rem;
                    transform: none;
                }

            }

        } 
        
        
    }

    &__current-city {
        @include respond(992) {         ///width min 992
            width: 14rem;
            z-index: 2;
            
        }
        span {
            border-bottom: 1px solid $clr-grey-5;          
            @include respond(992) {         ///width min 992
                border-bottom: 1px dashed;
                margin-left: .5rem;
            }

            &::before {
                background: url("../../assets/img/icons.png")  -28px -75px no-repeat;
            }
        }
        // STYLE FOR LAST ELEMENT OF CITIES DROPDOWN
        ul {
            li:last-child {
                a {
                    color: $clr-green-3;
                    border-bottom: 1px solid;
                }
                
                a:hover {
                    color: $orange;
                }
            }
        }
    }

    &__account {
        @include respond(992) {         ///width min 992
            width: 11.4rem;
            z-index: 2;
            
        }
        span {
            border-bottom: 1px solid $clr-grey-5;

            @include respond(992) {         ///width min 992
                border-bottom: 1px dashed;
                margin-left: 1rem;
            }
            &::before {
                background: url("../../assets/img/white-man.png")  0 1px no-repeat;
                width: 2rem;
            }
        }

        @include respond(992) {         ///width min 992
            ul {
                width: 11.4rem;
            }
        }
        
    }

    &__dropdown-items {
        background-color: $clr-grey-10;
        padding: 1rem 1rem 1rem 4.5rem;
        list-style: none;
        font-size: 1.4rem;
        border-bottom: 1px solid $clr-grey-5;
        display: none;

        li {
            padding: .6rem .8rem;
        }
        
        
        a:link,
        a:visited {
            color: $white;
            border-bottom: 1px dashed;
        }

        a:hover,
        a:focus {
            color: $orange;
        }

        @include respond(992) {
            position: absolute;
            width: 14rem;
            z-index: 1;
            padding: 3.4rem 0 0 0;
            border-bottom:  none;
            background: transparent;
            top: 0;
            box-shadow: 0 0 .3rem rgba($black, .5);          
            a:link,
            a:visited {
                color: $clr-grey-6;
            }

            a:hover {
                color: $orange;
            }

            li {
               background-color: #fff;
               padding: .3rem 0 .3rem 1rem;

               &:last-child {
                   padding-bottom: .8rem;
               }
               
            }
        }
    
    }


    //js

    .active-dropdown {
        @include respond(992) {
            background-color: $clr-grey-2;
        }
        span {
            
            color: $orange;
            &::after {
                transform: rotate(180deg); 
                @include respond(992) {
                    transform: rotate(0);
                    background-position: 0 -8px;
                }   
            }
        }

        ul {
            display: block;
        }
    }
   
}