.header {
    font-size: 1.6rem;
    //position: fixed;
    //width: 100%;
    // LOGO SECTION, first line
    &>* {
        padding: 0;
        height: 5.6rem;
    }


    &__first-line {
        background-color: $clr-grey-3;
        border-bottom: 1px solid $clr-grey-4;
        padding: 0 .7rem;
        @include flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
        
        @include respond(768) {    
            box-shadow: 0 0 1rem rgba($black, .15);        
        }

        @include respond(992) {
            background-color: $white;
            max-width: 25rem;
            padding-left: 1.4rem;
            box-shadow: none;
            z-index: 1;
            border-color: $clr-grey-8;
            position: static;
            
        }
    }

    &__burger {
        min-width: 5.6rem;
        height: 5.6rem;
        cursor: pointer;
        position: relative;

        @include respond(992) {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            background: url("../../assets/img/icons.png") -62px -76px no-repeat;
            width: 1.7rem;
            height: 1.4rem;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__logo {
        height: 100%;
        padding-top: 1.2rem;
    }

    .logo-box {
        @include flex;

        &__img {
            width: 3.2rem;
            height: 3.2rem;
        }

        &__name {
            margin-left: .5rem;
        }
    }

    .search-form-box {
        margin-left: auto;
        @include flex;
        justify-content: flex-end;
        align-items: center;

        @include respond(480) {
            max-width: 24rem;
        }

        @include respond(992) {
            display: none;
        }

        .search-form {
            width: 100%;
            justify-content: flex-end;

            &__input {
                width: 70%;
                display: none;
            }

            &__btn {
                border-color: transparent;
            }
        }
    }

    // search active 
    .js-search-form--active {
        .header__burger {
            display: none;

            @include respond(480) {
                display: block;
            }
        }

        .header__logo {
            display: none;

            @include respond(480) {
                display: block;
            }
        }

        .search-form-box {
            width: 100%;
            .search-form {
                &__input {
                    width: 100%;

                    @include respond(480) {
                        width: 70%;
                    }

                    display: block;

                    &:focus+.search-form__btn {
                        outline: none;
                        border-color: $clr-green-2;
                        border-left: transparent;
                    }
                }

                &__btn {
                    border: 1px solid $clr-grey-4;
                }
            }
        }
    }

    //SUPPORT SECTION
    &__support {
        @include flex;
        margin-top: 5.6rem;
        //min w 768px
        @include respond(768) {
            border-bottom: 1px solid $clr-grey-4;
        }
        @include respond(992) {
            border-color: $clr-grey-8;
            margin-top: initial;
        }
        

        .support {
            flex: 1;
            position: relative;
            font-size: 1.5rem;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            &__item {
                position: relative;
                color: inherit;
                padding-left: 2rem;

                &::before {
                    background: url("../../assets/img/white-phone.svg") no-repeat;
                    position: absolute;
                    content: '';
                    width: 2.3rem;
                    height: 2.3rem;
                    left: -0.9rem;
                    top: 0;

                    @include respond(768) {
                        background: url("../../assets/img/grey-phone.svg") no-repeat;
                    }
                }

                &--1:hover {
                    color: $orange;
                }

                &--2 {
                    cursor: pointer;

                    &::before {
                        background: url("../../assets/img/white-chat.svg") no-repeat;
                    }

                    span {
                        border-bottom: 1px dashed;
                    }
                }
            }

            &:first-child {
                // triangle right
                background-color: $clr-grey-5;

                //min width 768
                @include respond(768) {
                    background-color: $white;
                    color: $clr-grey-5;
                }

                &::before {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 2.8rem 0 2.8rem 1.2rem;
                    border-color: transparent transparent transparent $clr-grey-5;
                    width: 0;
                    height: 0;
                    right: -1.2rem;
                    z-index: 1;

                    @include respond(768) {
                        border-color: transparent transparent transparent $white;
                    }
                }
            }

            &:last-child {
                background-color: $orange;

                @include respond(992) {
                    &::before {
                        content: ' ';
                        position: absolute;
                        width: 1rem;    
                        height: 1rem;
                        top: -1rem;
                        right: -1rem;
                        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
                        clip-path: polygon(0 0, 0% 100%, 100% 100%);
                        background-color: darken($color: $orange, $amount: 20%);
                        display: none;
                        @include respond(1440) {
                            display: block;
                        }
                    }

                    &::after {
                        content: ' ';
                        position: absolute;
                        width: 1rem;    
                        height: 5.5rem;
                        right: -1rem;
                        clip-path: inset(0 0 0 0);
                        background-color: $orange;
                        display: none;
                        @include respond(1440) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    //menu section
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $clr-grey-4;

        //min w 576px
        @include respond(576) {
            justify-content: flex-start;
            padding-left: 6rem;
        }

        @include respond(768) {
            margin-top: 5.6rem;
        }

        //min w 992px
        @include respond(992) {
            padding-left: 0;
            border-color: $clr-grey-8;
            margin-top: 0;
        }

        .menu {
            flex: 0 0 auto;

            //min-width: 26.5rem;
            &__item {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 2rem;
                    @include respond(768) {
                        margin-right: 1rem;
                    }
                    
                }

                color: $clr-grey-6;
                font-size: 1.5rem;
                text-transform: uppercase;
                position: relative;

                &--active {
                    color: $orange;
                }

                &--active::before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background-color: $orange;
                    bottom: 1px;
                    left: 0;
                }

                a {
                    line-height: 5.7rem;
                    transition: color .3s ease-in-out;
                    color: inherit;

                    &:hover {
                        color: $orange;
                    }

                    &:active {
                        color: $orange;
                    }

                    .week-dish {
                        color: $clr-grey-9;
                        border: 1px solid $clr-grey-8;
                        font-size: 1.2rem;
                        border-radius: 1rem;
                        padding: .2rem .5rem;
                        margin-left: 1rem;
                    }
                }
            }
        }

        .search-form-box-2 {
            flex: 1 1 auto;
            display: none;

            @include respond(992) {
                display: block;
            }

            .search-form {
                justify-content: center;
                padding-left: 11%;

                &__input {
                    width: 70%;
                    max-width: 25.5rem;
                }

                &__btn {
                    background-color: $clr-grey-3;
                }
            }
        }
    }
}

/// JS FIXED 


.sticky-header {
    @include respond(992) {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        max-width: 144rem;

        .header__menu {
            background-color: $white;
        }
    }
}