.sidebar {
     @include respond(992){
        width: 24rem;  
        height: 100vh;
        background-color: $white; 
        flex: 0 0 auto;
        &--fixed {     
            top: 5.6rem;
        }
     }   
}