.dish-card {
    min-width: 30rem;
    border: 1px solid $clr-grey-4; //$clr-grey-4
    width: 100%;
    color: $clr-grey-6;
    background-color: $white;
    border-radius: 0 0 3rem;
    max-width: 30rem;
    margin: 0 auto;

    @include respond(576) {
        max-width: 40rem;
        width: 66%;
    }

    @include respond(768) {
        width: 100%;

    }

    @include respond(992) {
        margin: 0;
    }

    @include respond(1200) {
        min-width: 28rem;
    }
    

    &__img-box {
        position: relative;
    }

    &__img {
        width: 100%;
        height: auto;
        position: relative;
    }

    &__extra-info {
        position: absolute;
        width: 8rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 2.5rem;
        background-color: $white;
        opacity: .8;
        border: 1px solid $clr-green-1;
        border-radius: 2rem;
        z-index: 2;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    &__discount {
        font-size: 1.4rem;
        color: $white;
        background-color: rgba($clr-green-5, 0.85);
        line-height: 3.5rem;
        padding-left: 2rem;
        width: 100%;
        bottom: 0;
        position: absolute;
        
        
        &::before {
            content: '';
            width: 1rem;
            height: 3.5rem;
            position: absolute;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
            background-color: rgba($clr-green-5, 0.85);
            left: -1rem;
           
        }

        &::after{
            content: '';
            width: .5rem;
            height: 3.5rem;
            position: absolute;
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
            background-color: rgba($clr-green-5, 0.85);
            right: -0.5rem;
            top: 0;
        }

        p{
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 0.5rem;
                height: 0.5rem;
                background-color: $clr-green-5;
                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
                clip-path: polygon(0 0, 0% 100%, 100% 100%);
                right:-0.5rem;
                top: -0.5rem;
            }
        }
    }

    &__name {
        font-size: 1.7rem;
        height: 6.5rem;
        padding: 1rem 2rem 0;
        span {
            cursor: pointer;
            border-bottom: 1px dashed;
            &:hover {
                color: $orange;
            }
        }
    }

    &__info {
        color: $clr-grey-5;
        font-size: 1.5rem;
        background-color: $clr-grey-2; //
        height: 5.8rem;
        padding-left:2rem;
        display: flex;
        align-items: center;
        border-radius: 0 0 3rem;
        
    }

    &__price {
        color: $clr-green-2;
        margin-left: 1rem;
    }

    &__plus {
        margin-left: auto;
        margin-right: 2px;
    }


}

.add-item {
    height: 5.7rem;
    width: 5.7rem;
    border-radius: 50%;
    background-color: $clr-green-1;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        @include centerAbsolute;
        width: 2.9rem;
        height: 2.8rem;
        background: url("../../assets/img/icons.png") -260px -58px no-repeat;
    }

    &:hover {
        background-color: $clr-green-4;
    }
}