.dropdown-menu {
    width: 90%;
    margin: 2rem auto 0;
    border: 1px solid $clr-grey-4;
    font-size: 1.5rem;
    position: relative;
    
    @include respond(480) {
        width: 100%;
    }

    @include respond(992) {
        margin: 0;
        border: none;
    }

    &__items {
        list-style: none;
        width: 100%;  // for border
        border-top: none;
        display: none;
        position: absolute;
        background-color: transparent;
        animation: {
            name: dropdown-menu;
            duration: .3s;
            timing-function: linear;
            fill-mode: forwards;
        }
        width: 100%;

        @include respond(992) {
            position: static;
            display: block;
            animation: none;
        }
    }

    &__item {
        background-color: $white;
        line-height: 4.9rem;
        padding-left: 2rem;
        &:not(:last-child) {
            border-bottom: 1px solid $clr-grey-4;
            @include respond(992) {
                border-bottom:  none;
            }
        }
        cursor: pointer;       
        &:hover a {
            &:link,
            &:visited {
                color: $orange;
            }
        }
        @include respond(992) {
            line-height: 3rem;
        }

        &--header {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 4.6rem;
            .dropdown-menu__link {
                &:link,
                &:visited {
                    color: $orange;
                    @include respond(992) {
                        border-bottom: none;
                    }
                }
            }
            position: relative;

            @include respond(992) {
                line-height: 3rem;
            }
            &::after {
                position: absolute;
                content: '';
                width: 2.1rem;
                height: 1rem;
                background: url("../../assets/img/icons.png") -96px -76px no-repeat;
                top: 50%;
                right: 2rem;
                transform: rotate(360deg);
                transition: transform .15s linear;
                @include respond(992) {
                    display: none;
                }
            }

        }              
    }

    &__link {
        &:link,
        &:visited {
            color: $clr-grey-6;
            border-bottom: 1px dashed;
        }

        &:active {
            color: $orange;
        }
    }
   
}

// js


.dropdown-menu--active {
    .dropdown-menu__item {
        &--header {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    .dropdown-menu__items {
        display: block;
        z-index: 3;

    }
}

@keyframes dropdown-menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

