.rest-box {
    width: 30rem;
    font-size: 1.5rem;
    background-color: $clr-grey-2;
    color: $clr-grey-6;
    line-height: 3.3rem;
    margin: 0 auto;
    
    @include respond-advanced(576, 992) { //from 576 to 992 px
        width: 100%;
        height: 13.2rem;
        @include flex;
        background-color: $white;
    }

    @include respond(992) {
        width: 100%;
    }

    // left side
    &__left {     
        @include respond-advanced(576, 992) {
            @include flex;
        }       
    }
    
    

    &__rating {
        @include flex;
        justify-content: space-between;
        margin: 0 1.5rem;
        
        @include respond-advanced(576, 992) {
            flex-direction: column;
            justify-content: center;
            order: 2;
            min-width: 9rem;
            margin-left: 0;
        } 
        
    }
    
    &__img-wrap {
        background-color: $white;
        line-height: initial;

        @include respond-advanced(576, 992) {
            width: 20rem;
        } 
    }

    &__img {
        width: 100%;
    }

    //right side
    &__right {
        @include respond-advanced(576, 992) {
            width: 100%;
        }

        @include respond-advanced(768, 992) {
            display: flex;
        }
     
    }

    &__info {
        padding: 0 1.5rem;

      @include flex;
      align-items: center;

        @include respond-advanced(576, 992) {
            line-height: 6.6rem;
        }

        @include respond-advanced(768, 992) {
            flex: 1;
            border-left: 1px solid $clr-grey-4;
            
        }
        

        p {
            padding-left: 2.5rem;
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                top: 50%;
                left: -0.5rem;
                transform: translateY(-50%);
            }
        }

        

        &--time {
            border-bottom: 1px solid  $clr-grey-1;

            @include respond-advanced(576, 992) {
                border-color: $clr-grey-4;
            }

            @include respond(768) {
               border-bottom: none;    
            }

            p {
                &::before {
                    background: url("../../assets/img/grey-watch-form.svg") no-repeat;
                }
            }
            
        }

        &--delivery {
            p {
                &::before {
                    background: url("../../assets/img/grey-delivery-form.svg") no-repeat;
                }
            }
            
        }
    }
}

.questionmark {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../assets/img/grey-question.svg") no-repeat;
    cursor: pointer;
    margin-left: auto;
}