
.search-form {
    display: flex;



    &__input {
        height: 4rem;
        width: 100%;
        border: 1px solid $clr-grey-4;
        border-right: 0;
        border-radius: 20px 0 0 20px;   
        font-size: 1.5rem;
        padding-left: 1rem;
        transition: border .45s, background .45s ease-in-out; 


        // change default outline 
        &:focus {
            outline: none;
            border-color: $clr-green-2;          
            background: $clr-grey-3;
        }
        //outline for buuton when click
        &:focus + .search-form__btn {
            outline: none;
            border-color: $clr-green-2;
            border-left: transparent; 
        } 
        
    }

    &__btn {
        height: 4rem;
        min-width: 4rem;
        border: 1px solid $clr-grey-4;
        border-radius: 0 20px 20px 0;
        background: transparent;       
        cursor: pointer;   
        position: relative;       
        transition: border .45s;
        &:focus  {
            outline: none;
            
        }   
        &::before {
            content: '';
            @include centerAbsolute;
            top: 47%;
            left: 48%;
            width: 1.6rem;
            height: 2rem;
            background: url("../../assets/img/icons.png") -79px -72px no-repeat;
        }   
    }
}