html {
    font-size: 62.5%; // 1rem = 10px
}

* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
}

.content-box {
    min-width: 32rem;
    max-width: 144rem;
    width: 100%;
   
    transition: margin .15s linear;
    @include respond(992) {
        transition: margin 0s;
    }
}

.js-content-box-left {
    margin-left: 24rem; 
}

main {
    font-size: 1.6rem;
    background-color: $clr-grey-1;
    padding-top: 2rem;
    @include respond-advanced(480, 992) {
       padding: 2rem 2rem 0;
    }

    @include respond(992) {
        display: flex;
        padding: 0;
    }
    
}

.fixed-header {
    .sidebar {
        @include respond(992) {
            position: fixed;
            top: 5.6rem;
        }
    }

    .cards {
        @include respond(992) {
            margin-left: 24rem;
        }
    }

    
    @include respond(992) {
        padding-top: 56px;
    }
}
