@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic'); // main font
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic'); //lobster

body {
    font-family: "PT Sans", Arial, sans-serif;
}

//HEADER

.logo-box:link,
.logo-box:visited {
    color: $green-logo;
}

.logo-box {
    &__name {
        font-family: $lobster;
        font-size: 2.7rem;
    }
}

.header-category {          // in cards head section
    font-weight: 400;
    font-size: 1.9rem;
    color: $clr-grey-6;
    display: none;
    @include respond(992) {
        display: block;
        padding-left: 3rem;
    }
}