/* ---------------------------
    HEADER CHANGES FOR RESTRAUNT PAGE  
   --------------------------- 
*/   


.header {  
    
    &__logo {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -3rem;
            width: 1.7rem;
            height: 5.6rem;
            background: url("../../assets/img/icons.png") -260px 0 no-repeat
        }
    }

    &__restraunt-name {
        color: $green;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        line-height: 5.6rem;
        text-align: center;
        position: relative;
        @include respond(992) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 2rem;
                width: 1.7rem;
                height: 5.6rem;
                background: url("../../assets/img/icons.png") -260px 0 no-repeat
            }
        }
    }

    

    // search active 
    .js-search-form--active {
        position: relative;
        .header__restraunt-name {
            display: none;

            @include respond(576) {
                display: block;
            }
        }

        .header__restraunt-name {
            margin-right: 4rem;
        }

        .search-form-box {          
            @include respond(576) {
                position: absolute;
                right: 0.7rem;
            }
        
        }
    } 
}